{
  "extends": [
      "plugin:vue/vue3-essential",
      "eslint:recommended",
      "@vue/eslint-config-prettier"
  ],
  "globals": {
      "defineProps": "readonly",
      "defineEmits": "readonly",
      "defineExpose": "readonly",
      "withDefaults": "readonly"
  }
}